<script id="create-guild" type="text/template">

<form id="guild-form" class="ui form">
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="field">
    <label>Guild Name</label>
    <input class="guild-form-input" type="text" name="guild-name" placeholder="Guild Name">
  </div>
  <div class="ui guild_form button" type="submit">Submit</div>
</form>

</script>