<script id="guild-view" type="text/template">
    <td>
    <h2 class="ui center aligned header">
      <%%= rank %>
    </h2>
    </td>
    <td class="single line">
      <%%= name %>
    </td>
    <td class="single line">
      1
    </td>
    <td class="single line">
      <%%= guild_points %>
    </td>
    <td class="single line">
      <%%= officer %>
    </td>
    <td class="single line">
      "임의 값"
    </td>
    <td class="ui vertical buttons">
      <button class="ui button">길드전 내역 보기</button>
      <button class="ui button">가입하기</button>
    </td>
</script>