<style>
#pong {
    min-width: 600px;
}
</style>

<script type="text/template" id="ladder-game-template">
    <section id="ladder-game-section">
    <div class="ui segment">
    <div class="ui active dimmer">
        <div class="ui center massive inline indeterminate text loader">실력이 비슷한 상대를 찾고 있습니다.</div>
    </div>
    </section>
    </div>
    <section id="ladder-game-app" class="invisible">
    <div id="container">
        <canvas style="overflow: scroll;" id="game-canvas" width="600" height="480"></canvas>
    </div>
    </section>
</script>
