<div id="signup-modal" class="ui tiny modal form">
    <i class="close icon"></i>
    <div class="header">
        Pong의 세계에 온 걸 환영해!
    </div>
    <div class="field content">
        <label>Intra ID</label>
        <input type="text" name="intra-id" placeholder="intra-id">
    </div>
    <div class="field content">
        <label>email</label>
        <input type="text" name="email" placeholder="email">
    </div>
    <div class="field content">
        <label>password</label>
        <input type="password" name="password" placeholder="password">
    </div>
    <div class="actions">
        <div id="signup-error" class="ui pointing red label invisible"></div>
        <div class="ui green right labeled icon button signup">
            회원가입
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
