<html>
<head>
    <link link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <style>
        #signup-modal .field:nth-child(4) {
            padding: 0 1.5rem
        }
    </style>
</head>
<body>

<div id="signup-modal" class="ui tiny modal form">
    <i class="close icon"></i>
    <div class="header">
        Pong의 세계에 온 걸 환영해!
    </div>
    <div class="field content">
        <label>Intra ID</label>
        <input type="text" name="intra-id" placeholder="intra-id">
    </div>
    <div class="field content">
        <label>email</label>
        <input type="text" name="email" placeholder="email">
    </div>
    <div class="field content">
        <label>password</label>
        <input type="password" name="password" placeholder="password">
    </div>
    <div class="actions">
        <div class="ui green right labeled icon button">
            회원가입
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    let modal_id = '#signup-modal';
    $(modal_id).modal('show');
    $(modal_id + ' .button').on('click', function(e) {
        let intra_id = $(modal_id + ' input').eq(0).val();
        let email = $(modal_id + ' input').eq(1).val();
        let password = $(modal_id + ' input').eq(2).val();
        console.log(intra_id, email, password);
    });
</script>
</body>
</html>
